<h1>Challenges Index</h1>

<h3><%= link_to 'Create New Challenge', new_challenge_path %></h3>

<% @challenges.each do |challenge| %>
  <h3><%= challenge.title %></h3>
  <p><%= challenge.description %></p>
  <%= link_to 'View', challenge_path(challenge) %>
<% end %>
