<h3>Solution Author: <%= solution.user.username %></h3>
<p>Solution Language: <%= solution.language.name %></p>

<%= link_to 'View Solution', challenge_solution_path(challenge_id: solution.challenge_id, id: solution.id) %>
