<h1>Solutions Index</h1>

<h3><%= link_to 'Create New Challenge Solution', new_challenge_solution_path %></h3>
<%= link_to 'Back to Challenge', challenge_path(@challenge) %>

<%= render @solutions %>
